<?xml version="1.0" encoding="UTF-8"?>
<!-- Place this file in the same directory as your Minecraft server jar. -->
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS yyyy-MMM-dd} [%level] %msg%n" />
		</Console>

		<RollingFile name="rolling_server_log" fileName="logs/latest.log"
				filePattern="logs/server_%d{yyyyMMdd}.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS yyyy-MMM-dd} [%level] %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="rolling_server_log" />
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
